
.tree__item input{
  border: 0;
}

.tree__item_root {
  margin-left: -21px;
}

.tree__list {
  list-style: none;
}

.tree__core-list {
  list-style: none;
}

.tree__item_close ul {
 display: none;
}

.tree__remove::after {
 content: '[x]';
 margin-right: 5px;
}

.tree__item_close > .tree__toggle::after {
 content: '\23F5';
 margin-right: 5px;
}

.tree__item_open > .tree__toggle::after {
 content: '\23F7';
 margin-right: 5px;
}

.tree__item_close > .tree__list{
display: none;
}

.tree__add::before {
  content: '[+]';
  margin-right: 5px;
}
